.git
.github
.next
node_modules
npm-debug.log*
.env*
data/uploads
data/.cache
data/*.json
*.md
.DS_Store
.vscode
.idea
coverage
deploy
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml
